.collection-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(var(--color-foreground));
  height: calc(var(--main-collection-banner-section-height) - var(--main-top));
  overflow: hidden;
}

.collection-hero .breadcrumbs + .collection-hero__title {
  margin-block-start: calc(var(--section-spacing-unit-size) * 1.5);
}

.collection-hero__media {
  position: absolute;
  inset: 0;
  border-radius: 0;
}

.collection-hero__content {
  max-width: 60rem;
  width: 100%;
  margin: 4rem 0;
  padding-inline: var(--page-gutter);
  z-index: 2;
  color: rgb(var(--color-heading-text));
}

.collection-hero__title {
  font-size: calc(var(--font-heading-scale) * var(--font-size-static-h4));
  margin: 0 0 1.6rem;
  text-transform: uppercase;
}

.collection-hero__title:last-child {
  margin-block-end: 0;
}

.collection-hero__entry {
  margin: 0 auto;
}

.collection-hero__entry p {
  margin: 0 0 .8rem;
}

.collection-hero__entry> :last-child {
  margin: 0;
}

.media--overlay-blur::after {
  content: "";
  position: absolute;
  max-width: 100%;
  height: 260px;
  inset-block-end: 0;
  inset-inline: 0;
  opacity: 1;
  backdrop-filter: blur(12px);
  mask: linear-gradient(transparent, #000 65%);
  z-index: 2;
}

.collection-hero__menu > div,
.collection-hero__menu .swiper-wrapper {
  overflow: visible;
}

.collection-hero-menu__item a {
  display: block;
  padding: 1.6rem 2.4rem;
  font-size: var(--font-size-static-extra-small);
  background: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--color-heading-text));
  border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  transition: var(--duration-default);
}

.collection-hero-menu__item a:hover,
.collection-hero-menu__item a.menu__item-active {
  border-color: rgb(var(--color-primary-button));
  background: rgb(var(--color-primary-button));
  color: rgb(var(--color-primary-button-text));
}

.collection-hero__menu .swiper-wrapper {
  padding: 0 var(--page-gutter);
}

.collection__description button {
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }

  .collection-hero__content {
    max-width: 70rem;
    margin: 0 auto 6.4rem;
  }

  .collection-hero__menu .swiper-wrapper {
    padding: 0;
  }

  .collection-hero__menu > div {
    width: 70rem;
  }
}

@media screen and (min-width: 990px) {

  .collection-hero__menu>div,
  .collection-hero__menu .swiper-wrapper {
    overflow: hidden;
  }

  .collection-hero__title {
    font-size: calc(var(--font-heading-scale) * var(--font-size-static-h2));
  }
}
