.back-to-top {
  position: fixed;
  z-index: var(--z-fab);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 4rem; height: 4rem;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.button--outlined {
  box-shadow: none;
}
.back-to-top svg {
  width: 2rem; height: auto;
  padding-block-end: 0.2rem;
}
.back-to-top svg path {
  stroke: currentColor;
}

back-to-top.hide {
  display: none;
}
