card-product-slider,
recently-viewed-products,
complementary-products {
  display: block;
}

html .card-product-slider {
  overflow: visible;
}

.card-product-slider__buttons {
  position: static;
  padding: 0;
  transform: none;
  justify-content: flex-end;
}

/* .card-product-slider .card-product-slider__slide {
  width: calc(100% - 16.666%);
} */

html.no-js .card-product-slider__wrapper {
  overflow-x: auto;
  margin: 0 calc(0rem - var(--page-gutter));
  padding: 0 var(--page-gutter) 2rem;
}

html.no-js .card-product-slider__slide + .card-product-slider__slide {
  margin-inline-start: .2rem;
}

.card-product-slider--secondary {
  width: 72.5%;
  margin-inline-start: 0;
}

.product-feed .section__title {
  word-break: break-all;
}

.product-feed:not(.section-featured-products) .section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-feed:not(.section-featured-products).layout-1 .section__head .button {
  display: none;
}

.product-feed:not(.section-featured-products).layout-2 .section__foot {
  display: none;
}
@media screen and (max-width: 749px) {
  .swiper.card-product-slider {
    margin-inline-start: 0;
    margin-inline-end: auto;
  }
  .swiper-wrapper.card-product-slider__wrapper {
    max-width: 80%;
  }
}

@media screen and (min-width: 750px) {
  html.js .card-product-slider {
    overflow: hidden;
  }
  html.js .card-product-slider.overflow-unset {
    overflow: unset;
  }

  .card-product-slider__buttons > :not(.swiper-button-lock) {
    margin-block-start: 3.2rem;
  }

  html.js .card-product-slider--secondary,
  html.no-js .card-product-slider--secondary {
    overflow: visible;
  }
}

@media screen and (min-width: 990px) {
  .card-product-slider--secondary {
    width: 100%;
  }
}

/* section: featured-products */
.products-feed__tab {
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding-block-end: 3.6rem;
  overflow-x: scroll;
}

.products-feed__tab button {
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}
.products-feed__tab button:not(.active) {
  border-color: transparent;
}

.products-feed__tab button.button--filled.active:hover {
  --color-button-hover-text: rgb(var(--color-primary-button-text));
  --color-button-hover-background: rgb(var(--color-primary-button));
  --color-button-hover-outline: rgb(var(--color-primary-button));
}

.products-feed__tab button.tab-btn-filled {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.products-feed__tab button.tab-btn-filled:hover {
  background-color: rgba(var(--color-foreground), .25);
  color: rgb(var(--color-foreground));
}

.products-feed__tab button.tab-btn-outlined {
  border-color: rgb(var(--color-foreground));
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

.products-feed__tab button.tab-btn-outlined:hover {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.products-feed__tab button.tab-btn-text {
  font-size: 4rem;
  text-transform: capitalize;
  border-color: transparent;
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

.products-feed__tab button.tab-btn-text:hover {
  color: rgba(var(--color-foreground), .25);
}

.products-feed__tab button.tab-btn-text.active {
  color: rgba(var(--color-foreground), .5);
}

.products-feed__tab button.tab-btn-filled.active,
.products-feed__tab button.tab-btn-outlined.active {
  border-color: transparent;
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

.products-feed__tabcontent {
  display: none;
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

.products-feed__tab .button--filled:not(.active),
.products-feed__tab .button--outlined:not(.active) {
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

.products-feed__tab .button--filled:not(.active):hover,
.products-feed__tab .button--outlined:not(.active):hover {
  background-color: rgba(var(--color-foreground), 0.05);
  color: rgb(var(--color-foreground));
  border-color: transparent;
}

.products-feed__tab button.button--text {
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-heading-scale) * var(--h3-multiplier));
  padding: unset;
  outline: none;
  cursor: pointer;
  border: 0;
  line-height: var(--line-height-h3);
  letter-spacing: var(--font-heading-letter-spacing);
  text-transform: capitalize;
  background-color: transparent;
}
.products-feed__tab button.button--text:not(.active) {
  color: rgba(var(--color-foreground), 0.25);
}
.products-feed__tab button.button--text:not(.active):hover {
  color: rgba(var(--color-foreground), 0.5);
}
.products-feed__tab button.button--text::after {
  display: none;
}

.products-feed__tab button:not(.button--text) {
  font-size: 1.2rem;
}

.section-featured-products.section {
  padding: unset;
  background-color: unset;
}

.section-featured-products .text--label {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.15rem;
}
.section-featured-products.layout-2 .text--label {
  font-weight: 600;
  letter-spacing: 0.24rem;
}


.section-featured-products.layout-2 .container {
  position: relative;
}
.section-featured-products.layout-2 .swiper-buttons {
  position: absolute;
  inset-block-start: 50%;
  inset-inline: 0;
  transform: translateY(-50%);
  justify-content: space-between;
  margin-inline: calc(var(--spacing-unit-size-static) * 4);
  z-index: 4;
}
.section-featured-products.layout-2 .swiper-button {
  width: 4rem;
  height: 4rem;
  padding: 1.2rem;
  background-color: #fff;
  opacity: var(--swiper-button-opacity, 1);
  border-radius: 1.2rem;
  box-shadow: 0px 100px 147px 0px rgba(0, 0, 0, 0.07), 0px 22.336px 32.834px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 9.776px 0px rgba(0, 0, 0, 0.03);
}
.section-featured-products.layout-2 .swiper-buttons .swiper-button--plain {
  background-color: transparent!important;
  box-shadow: none!important;
}
.section-featured-products.layout-2 .swiper-button svg {
  width: 2rem; height: 2rem;
}
.section-featured-products.layout-2 .swiper-button svg > * {
  stroke-width: 1;
}
.section-featured-products.layout-2 .swiper-button:disabled {
  opacity: 0;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (min-width: 750px) {
  /* .products-feed__tab:has(.button--text) {
    margin-block-end: 6.4rem;
  } */

  .section-featured-products.layout-2:has(.products-feed__tab:has(.button--text)) .section__foot {
    margin-block-start: 6.4rem;
  }

  .section-featured-products.layout-2 .swiper-button {
    opacity: var(--swiper-button-opacity, 0);
  }

  .section-featured-products.layout-2 .swiper-buttons:hover {
    --swiper-button-opacity: 1;
  }

  .section-featured-products.layout-2 .section__body:hover + .section__foot .swiper-button {
    --swiper-button-opacity: 1;
  }

  .products-feed__tab {
    gap: 2.4rem;
    justify-content: center;
  }

  .products-feed__tab:not(:has(.button--text)) {
    gap: 0.8rem;
  }
  .products-feed__tab button:not(.button--text) {
    font-size: 1.2rem;
  }
}
