.cart-item {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.cart-item + .cart-item {
  margin-block-start: 2.4rem;
  padding-block-start: 2.4rem;
  border-block-start: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.cart-item__media {
  width: 10rem;
}

.cart-item__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  padding-inline-start: 1.6rem;
}

.cart-item__title {
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
  max-width: 22rem;
}

.cart-item__discounts {
  color: rgb(var(--color-link));
  margin: 1.2rem 0;
}

.cart-item__price,
.cart-item dl {
  color: rgb(var(--color-foreground));
}

.cart-item dl {
  opacity: .75;
  display: flex;
  align-items: center;
}

.option_divider {
  display: block;
  padding: 0.5rem 1.2rem;
  position: relative;
}

.option_divider::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 0.2rem;
  height: 0.2rem;
  background: rgb(var(--color-heading-text));
  opacity: .75;
}

.cart-item__price ins {
  color: var(--color-error);
  text-decoration: none;
}

.cart-item__price del {
  margin-inline-end: 0.8rem;
}

.cart-item__title {
  letter-spacing: 0.024rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: calc(1 + 0.6 / var(--font-heading-scale));
}

.cart-item dl,
.cart-item__price {
  margin: 0 0 0.8rem;
}

.cart-item__price,
.cart-item__discounts,
.cart-item dt,
.cart-item dd,
.cart-item__plan {
  font-size: var(--font-size-static-small);
}

.cart-item__plan {
  font-style: italic;
  margin: 0 0 0.8rem;
}

.cart-item dt,
.cart-item dd {
  display: inline;
}

.cart-item dd {
  margin: 0;
}

.cart-item__discounts svg,
.cart-item__discounts span {
  vertical-align: middle;
  display: inline;
}

cart-remove-button {
  display: inline-flex;
  margin-inline-start: 1.6rem;
  justify-content: flex-end;
}

cart-remove-button a {
  color: rgb(var(--color-link));
  font-size: var(--font-size-static-small);
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-transform: var(--font-button-text-transform);
  letter-spacing: 0.1rem;
}

.cart-item__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart__items__head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  padding-block-end: .8rem;
  margin-block-end: 2.4rem;
  border-block-end: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.cart__items__head span {
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
  font-size: var(--font-size-static-extra-small);
  opacity: .75;
  letter-spacing: .1rem;
  line-height: 1.15rem;
  display: none;
}

.cart__items__head span:first-child {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
}

.cart__items__head span:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}

.cart__items__head span:nth-child(3) {
  grid-area: 1 / 4 / 2 / 5;
}

.cart__items__head span:nth-child(4) {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-end;
}

.cart-item__content-area {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.cart__items-grid .cart-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.cart__items-grid .cart-item > div:first-child {
  grid-area: 1 / 1 / 2 / 3;
}

.cart__items-grid .cart-item > div:nth-child(4) {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart__items-grid .cart-item .cart-item__discounted-prices {
  display: flex;
}

.cart__items-grid .cart-item > div:nth-child(4) .cart-item__discounted-prices {
  align-items: flex-end;
  justify-content: flex-end;
}

.cart .cart-item__media {
  width: 8rem;
  min-width: 8rem;
}

.cart-item__info {
  display: flex;
  gap: .8rem;
}

.cart .cart-item {
  position: relative;
}

.cart .cart-item__actions {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 10rem;
}

.cart .cart-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cart__summary-actions a.button.button--text {
  display: block;
  margin: 3.6rem auto 0;
  width: fit-content;
}

.cart .cart-item__price del {
  margin-inline-end: 0;
  margin-inline-start: .8rem;
}

.cart-drawer .cart-item__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-drawer .cart-item__media {
  width: 8rem;
}

.cart-item__actions--top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item__actions--top cart-remove-button {
  margin-inline-start: 1.2rem;
}

.cart-drawer .cart-item__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart-item__actions--price .cart-item__price {
  margin: 0;
}

@media screen and (max-width: 989px) {
  .cart-drawer .cart-item__content .cart-item__title {
    width: 100%;
  }

  cart-drawer .cart-item__content .cart-item__price,
  cart-drawer .cart-item__content dl {
    margin: 0;
    margin-inline-end: .8rem;
  }
}

@media (hover: hover) {
  cart-remove-button a:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 990px) {

  .cart-drawer .cart-item__content {
    display: block;
    width: 100%;
  }

  .cart .cart-item__actions {
    position: unset;
  }

  .cart-item__content-area {
    align-items: center;
  }

  .cart__items__head {
    padding-block-end: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
  }

  .cart__items__head span:first-child {
    grid-area: 1 / 1 / 2 / 3;
  }

  .cart__items__head span:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
  }

  .cart__items__head span:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
  }

  .cart__items__head span:nth-child(4) {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: flex-end;
  }

  .cart__items-grid .cart-item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
  }

  .cart__items-grid .cart-item > div:first-child {
    grid-area: 1 / 1 / 2 / 3;
  }

  .cart__items-grid .cart-item > div:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .cart__items-grid .cart-item > div:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
  }

  .cart__items-grid .cart-item > div:nth-child(4) {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .cart-item {
    align-items: center;
  }

  .cart-item__media {
    width: 10rem;
  }

  .cart .cart-item__media {
    width: 10rem;
    min-width: unset;
  }

  .cart-item__details {
    padding-inline-start: 2.4rem;
    flex-direction: row;
  }
  .cart-item__actions {
    flex-direction: column;
    align-items: flex-end;
  }
  .cart-drawer .cart-item__actions {
    gap: 2.4rem;
  }
  .cart-item__actions--top {
    flex-direction: row-reverse;
  }
  .cart-item__actions--top cart-remove-button {
    margin-block-start: 0;
    margin-inline-end: 1.2rem;
    margin-inline-start: 0;
  }
  .cart .cart-item__actions {
    justify-content: flex-end;
    align-items: flex-start;
  }
  cart-remove-button {
    margin-block-start: 1.6rem;
  }
  .cart cart-remove-button {
    margin-inline-start: 0;
  }
  .cart-item__price-content.desktop-hide {
    display: none;
  }
  .cart-drawer .cart-item__media {
    width: 10rem;
  }
}

@media screen and (min-width: 1280px) {
  .cart .cart-item__actions {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  .cart cart-remove-button {
    margin-block-start: 0;
    margin-inline-start: 1.6rem;
  }
}
