.cart {
  background-color: rgb(var(--color-background));
  display: block;
  padding: 4rem 0 6.4rem;
}

.cart .container {
  position: relative;
}

.cart .container::before {
  content: '';
  position: absolute;
  width: calc(100% - (var(--page-gutter) * 2));
  inset-block-end: -6.4rem;
  inset-inline-start: 50%;
  transform: translate(-50%, 0);
  height: 0.1rem;
  background: rgba(var(--color-border), var(--alpha-border));
}
[dir='rtl'] .cart .container::before {
  transform: translate(50%, 0);
}

.cart__head {
  margin-block-end: 4.2rem;
}

.cart__head .page-banner__breadcrumbs {
  margin-block-end: 4.8rem;
}

.cart__title,
.cart__subtitle {
  color: rgb(var(--color-heading-text));
  margin: 0 0 2.4rem;
  position: relative;
}

.cart__title-counter {
  position: absolute;
  inset-block-start: -1.5rem;
  inset-inline-start: calc(100% + 0.4rem);
  opacity: 0.75;
  font-family: var(--font-body-family);
  font-size: var(--font-size-static-extra-large);
  white-space: nowrap;
}

.cart__bar {
  margin-block-end: 3.6rem;
}

.cart__summary {
  padding-block-start: 3.2rem;
  border-block-start: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  margin-block-start: 3.2rem;
}

.cart__subtitle,
.cart__summary-total {
  text-transform: none;
  letter-spacing: 0;
}

.cart__summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cart__summary-tax {
  color: rgb(var(--color-foreground));
  font-size: var(--font-size-static-extra-small);
  margin: 1.2rem 0 0;
}

.cart__summary-discounts {
  font-size: var(--font-size-static-medium);
  margin: 1.2rem 0 0;
}

.cart__summary-discounts svg {
  color: rgb(var(--color-heading-text));
}

.cart__summary-discounts svg,
.cart__summary-discounts span {
  display: inline;
  vertical-align: middle;
}

.cart__summary-tax a {
  color: currentColor;
  padding-block: 0.525rem;
}

.cart__summary-actions {
  margin-block-start: 2.8rem;
}

.cart__summary-note {
  margin: 2.8rem 0 0;
  padding-block: 2rem;
  border-block: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}
.cart__summary-note label {
  cursor: pointer;
}
.cart__summary-note .accordion__button {
  background-color: transparent;
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-medium);
  font-weight: var(--font-weight-normal);
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-block: 0.2rem;
}
.cart__summary-note .accordion__body-inner {
  margin-block-start: 1.6rem;
  margin-block-end: 0;
}

.cart__summary-note .accordion__icon {
  position: relative;
}

.cart__summary-note .accordion__icon svg {
  width: 2rem;
  height: 2rem;
}

.cart__summary-note .accordion__icon svg:last-child {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  opacity: 0;
}

.cart__summary-note .accordion__section.is-active .accordion__icon svg:last-child {
  opacity: 1;
  transform: rotate(0deg);
}

.cart__summary-note .accordion__section.is-active .accordion__icon svg:first-child {
  opacity: 0;
}

.cart__body {
  position: relative;
}

.cart-drawer__spinner {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-body-background-transparent-50);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity var(--duration-default), visibility var(--duration-default);
}

cart-items.is-loading .cart-drawer__spinner {
  opacity: 1;
  visibility: visible;
}

.cart__recommendations {
  margin-block-start: 4.8rem;
}

.cart__recommendations .swiper {
  margin: 0 calc(var(--page-gutter) * -1);
  padding: 0 var(--page-gutter);
}

.cart__terms {
  margin-block-end: 1.6rem;
}

.progress-bar {
  display: block;
}

.progress-bar__progress {
  height: 0.2rem;
  border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  margin-block-start: 0.8rem;
  position: relative;
  z-index: 1;
}

.progress-bar__progress-inner {
  background-color: rgb(var(--color-progress-bar));
  display: block;
  width: 0;
  transition: width var(--duration-default);
  position: absolute;
  inset-block: -1px;
  inset-inline-start: -1px;
  z-index: 2;
}

.progress-bar__text {
  font-family: var(--font-body-family);
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
  line-height: 1.5;
  margin: 0;
}

.progress-bar__top {
  display: flex;
  align-items: center;
}

.progress-bar__top svg {
  color: rgb(var(--color-heading-text));
  margin-inline-end: 0.8rem;
}

.cart__main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-end: 2.8rem;
}

.cart__main-header .cart__title,
.cart__empty-header .cart__title {
  margin-block-end: 0;
  line-height: 3.6rem;
}

.cart__main-header a {
  font-size: var(--font-size-static-extra-small);
  letter-spacing: 0.1rem;
  padding-block: 0.625rem;
}

.cart__empty-header {
  padding-block-end: 2.4rem;
  margin-block-end: 4.8rem;
  border-block-end: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  text-align: start;
}

.cart__empty-header * {
  display: inline-block;
}

.cart__empty-description {
  font-size: var(--font-size-static-medium);
  opacity: .5;
  margin-block-end: 3.2rem;
}

.cart cart-remove-button span {
  display: none;
}

.cart cart-remove-button svg {
  display: block;
}

.cart__bar.desktop-hide {
  margin-block-start: 2.8rem;
  margin-block-end: 0;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .cart {
    padding: 6.4rem 0 9.6rem;
  }

  .cart .container::before {
    inset-block-start: calc(100% + 9.6rem);
  }

  .cart__head {
    margin-block-end: 6.4rem;
  }

  .cart__contents {
    display: flex;
    align-items: flex-start;
  }

  .cart__main {
    flex: 1;
    padding-inline-end: 8.8rem;
  }

  .cart__summary {
    width: 43.2rem;
    padding-block-start: 0;
    border-block-start: none;
    margin-block-start: 0;
  }

  .cart__terms {
    margin-block-end: 2.4rem;
  }

  .cart__recommendations .swiper {
    margin: 0;
    padding: 0;
  }
  .cart__empty-header {
    margin-block-end: 8.8rem;
  }
  .cart__bar {
    margin-block-end: 4.8rem;
  }

  .cart__main-header {
    align-items: center;
    flex-direction: row;
    margin-block-end: 3.6rem;
  }

  .cart__bar.desktop-hide {
    display: none;
  }

  .cart cart-remove-button span {
    display: block;
  }
  .cart cart-remove-button svg {
    display: none;
  }
  .cart__bar {
    margin-block-start: 0;
  }
}
