.section-multitile .grid {
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  /* grid-template-rows: repeat(6, 1fr); */
}


.section-multitile__block {
  position: relative;
  width: 100%;
  height: var(--block-height, 100%);
  overflow: hidden;
  border-radius: var(--card-corner-radius);
  display: flex;
  grid-column: span var(--block-grid-column);
  grid-row: span var(--block-grid-row);
  aspect-ratio: var(--block-aspect-ratio);
  padding: calc(var(--section-spacing-unit-size) * var(--block-padding-multiplier, 0));
}

.section-multitile .bg-transparent {
  background-color: transparent;
}

@media screen and (max-width: 749px) {
  .section-multitile .grid {
    column-gap: calc(var(--section-gap-between-tiles) * 0.5);
    row-gap: calc(var(--section-gap-between-tiles) * 0.5);
    grid-template-rows: repeat(var(--section-total-row-count), 1fr);
  }

  .section-multitile__block {
    grid-column: span 6;
  }

  .section-multitile__block:first-of-type {
    order: var(--section-block-order-mobile);
  }
}

@media (hover: hover) {
  .section-multitile__block:hover .section-multitile__media>img {
    transform: scale(1.05);
  }
}

.section-multitile__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-multitile__content ul {
  list-style: none;
  padding-inline-start: 0;
  line-height: 2;
}

.has-media .section-multitile__media,
.has-media-mobile .section-multitile__media {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.has-media .section-multitile__content,
.has-media-mobile .section-multitile__content {
  position: relative;
  z-index: 1;
}

.section-multitile__text ol,
.section-multitile__text ul {
  margin: 0.4rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

.section-multitile__text ol li,
.section-multitile__text ul li {
  text-align: start;
}

.section-multitile__media {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-multitile__media iframe {
  pointer-events: none;
  border: none;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 190%;
  max-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
[dir='rtl'] .section-multitile__media iframe {
  transform: translate(50%, -50%);
}

.section-multitile__media img,
.section-multitile__media video,
.section-multitile__media svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-multitile__media img {
  transition: transform 0.6s ease;
}

/* color bleed from corner radius issue fix */
.section-multitile__block:has(.section-multitile__media) {
  background-color: transparent;
}

@media (hover: hover) {
  .section-multitile__block:hover .section-multitile__content--button.button {
    color: var(--color-button-hover-text);
    background-color: var(--color-button-hover-background);
    border-color: var(--color-button-hover-outline);
  }

  .section-multitile__block:hover .section-multitile__content--button.button.button--text {
    padding: 0;
    border-width: 0;
    background-color: transparent;
    color: rgb(var(--color-heading-text));
    min-height: auto;
  }

  .section-multitile__block:hover .section-multitile__content--button.button.button--text::after {
    width: 30%;
    background-color: rgb(var(--color-heading-text));
  }
}
