.section-complete-the-set .section__slider-buttons {
  position: static;
  transform: none;
}

.section-complete-the-set .section__slider-buttons button {
  margin-block-start: 0;
}

.section-complete-the-set .section__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-complete-the-set .drawer__container {
  padding-block: 1.2rem;
  border-block-end: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.section-complete-the-set .section__drawer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: underline solid transparent .1rem;
  text-underline-offset: .3rem;
  transition: text-decoration-color var(--duration-default);
  letter-spacing: var(--font-heading-letter-spacing);
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  text-transform: unset;
  font-weight: var(--font-weight-bold);
  min-height: 2.5rem;
}

.section-complete-the-set .drawer__button-action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1.2rem;
}

.section-complete-the-set .drawer__button-action span {
  position: absolute;
}

.section-complete-the-set .collapsible__button .icon-minus {
  /* reset */
  min-width: unset;
  height: unset;
}
.section-complete-the-set .collapsible__button .icon-minus svg {
  /* reset */
  width: unset;
  height: unset;
  position: unset;
  inset: unset;
}
.section-complete-the-set .collapsible__button .icon-minus:last-child {
  transform: rotate(-90deg);
}
.section-complete-the-set .collapsible__button-active .icon-minus:last-child {
  transform: rotate(0deg);
  transition: transform var(--duration-default);
}

.section-complete-the-set .collapsible__content {
  padding: 0;
  padding-block-start: 2.4rem;
  border-block-start: 0;
}

.section-complete-the-set .drawer__button .icon-chevron-end svg {
  width: 1.2rem; height: auto;
}

@media (hover:hover) {
  .section-complete-the-set .section__drawer-button:hover {
    color: rgb(var(--color-link));
  }
}

.section-complete-the-set .section__drawer-button::before {
  content: none;
}

.section-complete-the-set--flipped-mobile .section__grid > :first-child {
  order: 2;
}

.section-complete-the-set--flipped-mobile .section__grid > :last-child {
  order: 1;
}

.section__grid {
  row-gap: 0;
}

.section-complete-the-set .section__head {
  margin-block-end: 2.4rem;
}

.section-complete-the-set .grid {
  gap: 6.4rem;
}

.drawer__content .drawer__title,
.collapsible__content .drawer__title {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 3.06rem;
  letter-spacing: -.144rem;
  padding: 0;
  margin: 0 0 2.4rem;
}

.drawer__content .rte,
.collapsible__content .rte {
  color: rgb(var(--color-secondary-text));
}

.collapsible__content {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  height: 0;
  padding: 4.8rem;
  border-block-start: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
}

.collapsible__button {
  cursor: pointer;
}

.collapsible__button span {
  min-width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.collapsible__button span svg {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  inset: 0;
}

.collapsible__button span svg:first-child {
  transform: rotate(-90deg);
}

.collapsible__button.collapsible__button-active span svg:first-child {
  transform: rotate(0deg) translate(0);
}
.collapsible__button:hover span svg:last-child {
  transform: translate(0);
}


@media screen and (max-width: 749px) {
  .section-complete-the-set .container {
    padding-inline: 0;
  }

  .section-complete-the-set .section__head,
  .section-complete-the-set .section__buttons,
  .section-complete-the-set .section__media {
    padding-inline: var(--page-gutter);
  }

  .section-complete-the-set .section__slider {
    margin-inline-start: var(--page-gutter);
  }

  .section-complete-the-set .drawer__content {
    padding: 6.4rem 2.4rem;
  }

  .drawer__content .drawer__title {
    font-size: 2.7rem;
  }

  .collapsible__content {
    padding: 4.8rem 2.4rem;
  }

  .section-complete-the-set complementary-products {
    padding-inline-start: 0.4rem;
  }
}

@media screen and (min-width: 750px) {
  .section-complete-the-set .section__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .section-complete-the-set .section__drawer-button {
    text-transform: none;
  }

  .section-complete-the-set .section-complete-the-set__content {
    padding-inline-start: 0.4rem;
  }

  .section-complete-the-set--flipped-mobile .section__grid > :first-child,
  .section-complete-the-set--flipped-mobile .section__grid > :last-child {
    order: initial;
  }

  .section-complete-the-set--flipped-desktop .section__grid {
    direction: rtl;
  }

  .section-complete-the-set--flipped-desktop .section__grid > * {
    direction: initial;
  }

  .section-complete-the-set .card-product__media {
    aspect-ratio: 4 / 3;
  }

  .section-complete-the-set .section__grid:has(.hidden + .grid__item),
  .section-complete-the-set .section__grid--centered {
    grid-template-columns: initial;
    margin-inline: auto;
  }

  .section-complete-the-set .section__grid:has(.hidden + .grid__item) .drawer__container {
    width: 50%;
    margin-inline: auto;
  }

  .section-complete-the-set .section__grid:has(.hidden + .grid__item) .drawer__container {
    width: 50%;
    margin-inline: auto;
  }
  .section-complete-the-set .max-w-fluid .section__grid:has(.hidden + .grid__item) .drawer__container,
  .section-complete-the-set .max-w-fluid .section__grid--centered .drawer__container {
    width: 100%;
  }
}

.section-complete-the-set:has(.section__drawer details[open]) {
  position: relative;
  z-index: var(--z-header);
}


/* Accordion */
