.section-full-width-banner {
  position: relative;
  overflow: hidden;

  display: flex;
  min-height: calc(var(--full-width-banner-mobile-height) - var(--header-top-position));
}

.section-full-width-banner .container {
  position: relative;
  display: flex;
}

.section-full-width-banner.content-top .section-full-width-banner__media::after {
  transform: scaleY(-1);
}

.section-full-width-banner__content {
  position: relative;
  width: 100%;
  padding: calc(var(--section-spacing-unit-size) * 4) calc(var(--spacing-unit-size-static) * 2.25);
  color: rgb(var(--color-foreground));
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: rgb(var(--color-background));
  border-radius: var(--card-corner-radius);
}
.container.max-w-full .section-full-width-banner__content {
  border-radius: 0;
}

.section-full-width-banner__media {
  position: absolute;
  inset: 0;
  width: auto;
  height: 100%;
  background-color: transparent;
}

.section-full-width-banner__media iframe,
.section-full-width-banner__media video {
  pointer-events: none;
  border: none;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 270%;
  max-width: none;
  height: 100%;
  transform: translate(-50%, -50%);
}
[dir='rtl'] .section-full-width-banner__media iframe,
[dir='rtl'] .section-full-width-banner__media video {
  transform: translate(50%, -50%);
}

.section-full-width-banner__media svg.placeholder-svg {
  opacity: 0.75;
}
.section-full-width-banner__media svg.placeholder-svg {
  background-color: rgb(var(--color-background));
}

.section-full-width-banner:has(.media > *) .section-full-width-banner__content {
  position: relative;
  flex: 1;
  z-index: 2;
}
.section-full-width-banner__content > :first-child {
  margin-block-start: 0;
}
.section-full-width-banner__content > :last-child {
  margin-block-end: 0;
}

/* digi-note--kk - is this really necessary? -- start */
.section-full-width-banner__blocks {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* digi-note--kk - is this really necessary? -- end */

.section-full-width-banner__breadcrumbs {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  width: 100%;
  padding-block-start: calc(var(--section-spacing-unit-size) * 2.25);
}

.section-full-width-banner__subheading {
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-medium);
  margin: 0 0 1.6rem;
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

.section-full-width-banner__entry,
.section-full-width-banner__entry p,
.section-full-width-banner__heading,
.section-full-width-banner__heading p {
  margin: 0;
}

.section-full-width-banner__entry ol,
.section-full-width-banner__entry ul {
  text-align: start;
}

.section-full-width-banner__buttons {
  display:  flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing-unit-size-static) * 0.5);
  margin: 3.2rem 0 0;
}

.section-full-width-banner__buttons .button {
  flex: 1;

  min-width: fit-content;
  max-width: calc(100vw - 4rem);
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 749px) {
  .section-full-width-banner__inner {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .section-full-width-banner__buttons {
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .section-full-width-banner {
    min-height: calc(var(--full-width-banner-height) - var(--header-top-position));
    display: flex;
    column-gap: 0;
  }

  .section-full-width-banner__media + .section-full-width-banner__content {
    margin-block-start: 0;
  }

  .section-full-width-banner__media {
    position: absolute;
    z-index: 1;
  }

  .section-full-width-banner__media iframe,
  .section-full-width-banner__media video {
    width: 100%;
    height: 108%;
  }

}
