:root {
  --input-border-radius-half: calc((var(--input-border-radius) - 1rem) / 2);
}

/* SECTION GRID & LAYOUT SYSTEM */
.product .container {
  position: relative;
}

@media screen and (max-width:749px) {
  .product .container {
    padding: 0;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--page-gutter);
}

.product-grid__item--content {
  padding-inline: var(--page-gutter);
}

@media screen and (min-width: 750px) {

  .product-grid__item--content {
    padding-inline: 0;
  }

  .product-grid.product-grid__size--small,
  .product-grid.product-grid__size--large {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .product-grid.product-grid__size--small>.product-grid__item--media {
    grid-column: span 2 / span 2;
  }

  .product-grid.product-grid__size--small>.product-grid__item--content {
    grid-column: span 3 / span 3;
  }

  .product-grid.product-grid__size--large>.product-grid__item--media {
    grid-column: span 3 / span 3;
  }

  .product-grid.product-grid__size--large>.product-grid__item--content {
    grid-column: span 2 / span 2;
  }

  .product-grid.product-grid__size--medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-grid.product-grid__has-no-media {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .product-grid.product-grid__size--medium>.product-grid__item--media,
  .product-grid.product-grid__size--medium>.product-grid__item--content,
  .product-grid.product-grid__has-no-media>.product-grid__item--media,
  .product-grid.product-grid__has-no-media>.product-grid__item--content {
    grid-column: initial;
  }

  .product-grid .product-grid__item--media.product-grid__item--end {
    order: 2;
  }
}


@media screen and (min-width: 1920px) {

  .container:not(.max-w-page) .product-grid.product-grid__size--small,
  .container:not(.max-w-page) .product-grid.product-grid__size--large {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .container:not(.max-w-page) .product-grid.product-grid__size--small>.product-grid__item--content {
    grid-column: span 2 / span 2;
  }

  .container:not(.max-w-page) .product-grid.product-grid__size--large>.product-grid__item--media {
    grid-column: span 2 / span 2;
  }

  .container:not(.max-w-page) .product-grid.product-grid__size--small>.product-grid__item--media,
  .container:not(.max-w-page) .product-grid.product-grid__size--large>.product-grid__item--content {
    grid-column: initial;
  }
}

/* STICKY - GRID COLUMNS */
@media screen and (min-width: 750px) {

  /* DONT CHANGE / STICKY DOESNT WORK WITH INSET BLOCK START / USE TOP INSTEAD */
  .product-grid__sticky {
    position: sticky;
    top: var(--header-height, var(--default-header-height));
    z-index: 2;
  }

  .drawer--is-open .product-grid__sticky {
    position: static;
  }
}

/* NAV TOPBAR */
@media screen and (min-width:749px) {
  .product__topbar-nav {
    position: relative;
    width: initial;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-inline: 0;
    padding-block: 2.4rem;
  }

  .product__topbar-nav.product__topbar-nav--thumbs-gap .product__topbar-nav--goback {
    width: 11.5rem;
  }
}

@media screen and (max-width:750px) {

  .product__topbar-nav.product__topbar-nav--display-none {
    display: none;
  }

  .product__topbar-nav.product__topbar-nav--display-on-top {
    position: relative;
    width: initial;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-inline: var(--page-gutter);
    padding-block: 1.6rem;
  }

  .product__topbar-nav.product__topbar-nav--display-on-media {
    position: absolute;
    width: 100%;
    display: block;
    inset-inline: 0;
    inset-block-start: 0;
    z-index: 2;
    padding-inline: var(--page-gutter);
    padding-block: .8rem;
  }

  .product__topbar-nav.product__topbar-nav--display-on-media .product-button__goback--filled {
    margin-block-start: .8rem;
  }

  .product__topbar-nav.product__topbar-nav--display-on-media.product__topbar-nav--mobile-slider-gap .product__topbar-nav--goback {
    padding-inline-start: .8rem;
  }
}

/* NAV TOPBAR / GO BACK BTN */
.product-button__goback--filled,
.product-button__goback--text {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.product-button__goback--filled>.icon svg,
.product-button__goback--text>.icon svg {
  width: .8rem;
  height: .8rem;
}

.product-button__goback--filled>span,
.product-button__goback--text>span.button--text {
  color: rgb(var(--color-secondary-button-text));
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.product-button__goback--filled {
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  background: rgb(var(--color-secondary-button));
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.product-button__goback--filled:hover {
  background: rgba(var(--color-secondary-button), .25);
}

.product-button__goback--text {
  padding: .4rem;
}


/* INFORMATION BLOCKS / FLEXBOX & SPACING */
.product__content {
  display: flex;
  flex-direction: column;
}

.product__content--start {
  text-align: start;
}

.product__content--center {
  text-align: center;
}

.product__content--end {
  text-align: end;
}

.product__content--start .product__text,
.product__content--start .product__price,
.product__content--start .product__badges,
.product__content--start .product__description .button {
  align-self: flex-start;
}

.product__content--center .product__text,
.product__content--center .product__price,
.product__content--center .product__badges,
.product__content--center .product__description .button {
  align-self: center;
}

.product__content--end .product__text,
.product__content--end .product__price,
.product__content--end .product__badges,
.product__content--end .product__description .button {
  align-self: flex-end;
}


/* PROPDUCT BLOCKS */
.product__block {
  margin-block: 0;
  padding-block: 0;
}

.product__block.product__block--gap-0 {
  margin-block-end: 0;
}

.product__block.product__block--gap-1 {
  margin-block-end: calc(var(--product-block-spacing-unit) * 1.00); /* 1.6rem */
}

.product__block.product__block--gap-2 {
  margin-block-end: calc(var(--product-block-spacing-unit) * 1.25); /* 2.0rem */
}

.product__block.product__block--gap-3 {
  margin-block-end: calc(var(--product-block-spacing-unit) * 1.50); /* 2.4rem */
}

.product__block.product__block--gap-4 {
  margin-block-end: calc(var(--product-block-spacing-unit) * 1.75); /* 2.8rem */
}

/* Product divider */
.product__divider {
  height: 1px;
  background-color: rgba(var(--color-border), var(--alpha-border));
}

.product__block:has(+ .product__divider) {
  margin-block-end: 0
}

.product__block.product__block--gap-0.product__divider {
  margin-block: 0;
}

.product__block.product__block--gap-1.product__divider {
  margin-block: calc(var(--product-block-spacing-unit) * 1.00);
}

.product__block.product__block--gap-2.product__divider {
  margin-block: calc(var(--product-block-spacing-unit) * 1.25);
}

.product__block.product__block--gap-3.product__divider {
  margin-block: calc(var(--product-block-spacing-unit) * 1.50);
}

.product__block.product__block--gap-4.product__divider {
  margin-block: calc(var(--product-block-spacing-unit) * 1.75);
}

.product__text--body:has(+ .product__text--body) {
  margin-block-end: .8rem;
}

.product__accordion:has(+ .product__accordion) {
  margin-block-end: .8rem;
}

/* Product title */
.product__title {
  color: rgb(var(--color-primary-text));
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: normal;
}

@media screen and (max-width: 750px) {
  .product .product__title {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
    line-height: calc(1 + 0.3 / var(--font-heading-scale));
  }
}


/* Product description */
.product__description .button {
  font-size: 1rem;
  padding-block: 0.6rem;
}
text-truncator:not(.disabled) .truncated-text {
  margin-block-start: -1em;
}

/* Product price */
.product__price {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product__price--main,
.product__price--subscription-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.product__price--info,
.product__price--subscription {
  color: rgba(var(--color-primary-text), 0.7);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.15rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
}

.product__price .price {
  font-size: var(--font-size-static-medium);
}

@media screen and (min-width: 750px) {
  .product__price .price {
    font-size: var(--font-size-static-medium);
  }
}

.product__price ins {
  color: var(--color-error);
}

.product__price del {
  display: inline-block;
  margin-inline-end: 0;
  color: rgb(var(--color-foreground));
}

.product__price--subscription .price,
.product__price--subscription .price__container {
  display: contents;
}

.product__price--subscription .price__sale {
  flex: 1;
}

.product__price--subscription .price__container> :first-child {
  order: 1;
}

.product__price--subscription .price__container> :nth-child(2) {
  order: 3;
  flex-basis: 100%;
}

.product__subscription-price {
  margin-block: 0;
  order: 4;
}

.product__price-subscription {
  order: 2;
  margin-block: 0;
}

/* Product text */
.product__text--body {
  margin-block: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--color-heading-text));
}

.product__text--body svg {
  width: 1.6rem;
}

.product__text--link a {
  text-decoration: none;
  letter-spacing: inherit;
}

.product__text+.product__text {
  margin-block-start: 0;
}

.product__text .button.button--text {
  padding-block-start: 0;
}

/* Product sku */
.product__sku span {
  padding: .8rem;
  background-color: rgb(var(--color-placeholder, #f8f8f8));
  color: rgb(var(--color-foreground));
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}


/* Product variant picker */
.product-selector--stacked {
  display: flex;
  column-gap: 0.8rem;
  row-gap: 1.2rem;
  flex-direction: row;
}

@media screen and (max-width: 749px) {
  .product-selector--stacked {
    column-gap: 1.2rem;
    flex-direction: column;
  }
}

.product-selector__buttons {
  padding: 0;
  border: none;
  border-radius: 0;
}

.product-selector__buttons legend {
  margin-block-end: 0.8rem;
  padding: 0;
  text-transform: uppercase;
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
  letter-spacing: 0.2rem;
  width: 100%;
}

.product-selector__buttons legend span {
  font-weight: 600;
  margin-inline-start: .4rem;
}

.product-selector__buttons label {
  font-size: 1rem;
}

.product-selector__buttons .dropdown__list {
  border-block-start: 0;
  border-radius: 0 0 var(--input-border-radius-half) var(--input-border-radius-half);
  transition: none;
}

.dropdown.is-open .dropdown__summary .dropdown__button {
  border-radius: var(--input-border-radius-half) var(--input-border-radius-half) 0 0;
}

.product-selector__buttons .dropdown__button {
  display: flex;
  align-items: center;
  color: rgb(var(--color-heading-text));
}

.product-selector__buttons .dropdown__item-button {
  padding: 0.8rem 4.8rem 0.8rem 1.6rem;
  text-align: start;
}

.product-selector__buttons .dropdown__item-button:not([disabled]) {
  color: rgb(var(--color-heading-text));
}

/* .product-selector__buttons .dropdown__item-button[disabled] {
  color: rgba(var(--color-border), var(--alpha-border));
} */
.product__swatch {
  border-color: rgba(var(--color-border), var(--alpha-border));
  color: rgb(var(--color-heading-text));
}

input[type="radio"][disabled]+.swatch.product__swatch.is-active {
  border-color: rgba(var(--color-border), var(--alpha-border));
  color: rgb(var(--color-heading-text));
}

.product__swatch:not(.product__swatch--color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 3.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-inline: 0.8rem;
}

.product__swatch.product__swatch--color {
  width: 1.8rem;
  height: 1.8rem;
}

.product__swatch {
  will-change: border-color;
  transition: border-color var(--duration-default);
  border-color: rgba(var(--color-border), var(--alpha-border));
}

.product__swatches input:disabled+.swatch {
  cursor: default;
  position: relative;
}

.product__swatches input:disabled+.swatch::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) calc(50% - 1px), rgba(var(--color-border), var(--alpha-border)), rgba(255, 255, 255, 0) calc(50% + 1px));
}

@media (hover: hover) {
  .product__swatch:not(input:disabled + .product__swatch):hover {
    transform: none !important;
    border-color: var(--color-heading-text);
  }
}

.product-selector__buttons+.product-selector__buttons {
  margin-block-start: 2rem;
}

.product-selector--stacked .product-selector__buttons+.product-selector__buttons {
  margin-block-start: 0;
}

.product-selector__dropdown,
.product-selector__buttons dropdown-input {
  flex: 1;
}

.product__size-guide {
  display: block;
  margin-block-start: 1rem;
}

@media screen and (min-width: 750px) {
  .product__size-guide {
    margin-block-start: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .product-selector__buttons {
    display: flex;
    gap: 1rem 1.5rem;
    flex: 1;
  }

  .product__swatches {
    flex: 1;
  }
}

/* swatch with variant images */
.swatch.swatch--variant-img {
  display: block;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  transform: none !important;
  background: none;
  transition: none;
}

.swatch.swatch--variant-img>img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product__swatches input:disabled+.swatch.swatch--variant-img>img {
  opacity: 0.5;
}

.product__swatches .swatch.swatch--variant-img svg {
  fill: rgb(var(--color-foreground));
}

/* Product buy buttons */
.product__content>product-form {
  display: block;
  margin-block-end: 2rem;
}

.product__form {
  display: flex;
  flex-flow: wrap;
  gap: .8rem;
}

.product__form.product__form--inline {
  display: grid;
  gap: 1.6rem;
}

.product__form--inline {
  grid-template-columns: 12rem auto;
  grid-template-rows: auto;
  gap: 1.2rem;
}

.product__form:not(.product__form--inline) .product-selector__quantity {
  flex: 1 0 100%;
}

.product__form:not(.product__form--inline) .product-selector__quantity .quantity__wrapper {
  padding: 1.2rem 2.4rem;
}

.product__form .gift-card-recipient-form {
  grid-column: span 2;
  flex: 1 0 100%;
}

.product__form .shopify-payment-button {
  grid-column: span 2;
  flex: 50%;
}

.product__form .shopify-payment-button * {
  max-height: 100%;
}

.product__form .shopify-payment-button__button.shopify-payment-button__button--unbranded {
  white-space: nowrap;
  height: 100%;
}

.product__form [data-error-wrapper] {
  grid-row: 4 / 5;
}

.product__form .shopify-payment-button__button--hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.product-selector__quantity quantity-input {
  width: 100%;
  height: 100%;
}

.product-selector__quantity .quantity__input {
  flex: 1;
}

.product-selector__quantity .quantity__button {
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-selector__quantity .quantity__button svg {
  width: 1rem;
}

.product-selector__quantity .quantity__input {
  height: 100%;
}

.product .quantity__wrapper {
  border-radius: var(--button-border-radius);
  max-height: 5rem;
  height: 100%;
}

@media screen and (min-width: 750px) {
  .product__form--inline {
    grid-template-columns: 12rem auto;
    grid-template-rows: 5rem auto auto;
    gap: 1.2rem;
  }

  .product__form--inline .quantity__button {
    width: 1rem;
  }

  .product__form--inline .quantity__wrapper {
    width: 100%;
  }

  .product__form--inline .product-selector__quantity .quantity__button {
    padding-inline: 0.5rem;
    width: 2.4rem;
    margin-inline: 0;
  }

  .product__form [data-error-wrapper] {
    grid-row: 3 / 4;
    grid-column: span 2;
  }

  .product__form .gift-card-recipient-form {
    grid-column: span 2;
    flex: 1 0 100%;
  }

  .product__form:not(.product__form--inline) .product-selector__submit {
    grid-column: span 2;
  }
}

.product__button-xr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border: none;
  background-color: rgb(var(--color-background));
}

.product__button-xr[data-shopify-xr-hidden] {
  display: none;
}

.product__button-xr svg {
  margin-inline-end: 0.8rem;
}

/* Recipient form */
.recipient-form {
  --recipient-checkbox-margin-block-start: 0.64rem;
  display: block;
  position: relative;
  margin-block-end: 1.2rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}

.recipient-checkbox {
  flex-grow: 1;
  font-size: var(--font-size-static-small);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-medium);
  display: flex;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(var(--color-heading-text));
  transition: opacity var(--duration-default);
}

.no-js .recipient-checkbox {
  display: none;
}

.gift-card-recipient-form:focus {
  outline: unset;
}

.gift-card-recipient-form:focus svg:not(.icon-checkmark) {
  outline-style: solid;
}

.recipient-form>input[type=checkbox] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: var(--recipient-checkbox-margin-block-start) 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  background: transparent;
  z-index: -1;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  transition: border-color var(--duration-default), background-color var(--duration-default);
}

/* ::before */
.recipient-form>input[type='checkbox']:before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  height: 0.6rem;
  width: 0.6rem;
  background-color: currentColor;
  opacity: 0;
  transition: opacity var(--duration-default);
}

[dir='rtl'] .recipient-form>input[type='checkbox']:before {
  transform: translate(50%, -50%);
}

.recipient-fields__field {
  margin: 0 0 2rem 0;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recipient-fields .field__input.text-area {
  padding: 1.6rem;
  min-height: 11.4rem;
}

.recipient-checkbox>svg {
  margin-block-start: 0;
  margin-inline-start: 0.2rem;
  margin-inline-end: 1.2rem;
  flex-shrink: 0;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  inset-block-start: 0.4rem;
  inset-inline-start: 0.28rem;
  z-index: 5;
}

.recipient-form>input[type='checkbox']:checked+label .icon-checkmark {
  visibility: visible;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form>input[type='checkbox']:checked~.recipient-fields {
  display: block;
  animation: animateMenuOpen var(--duration-default) ease;
}

.recipient-form>input[type='checkbox']:not(:checked, :disabled)~.recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline;
}

.recipient-form ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-inline-start: 4.4rem;
  text-align: start;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}

@media screen and (forced-colors: active) {
  .recipient-fields>hr {
    border-block-start: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-checkbox>svg {
    background-color: inherit;
    border: 0.1rem solid rgb(var(--color-background));
  }

  .recipient-form>input[type='checkbox']:checked+label .icon-checkmark {
    border: none;
  }
}

/* Product purchase options */
.product__purchase-options {
  display: block;
}

.product__purchase-options-body,
.product__purchase-group-selects {
  will-change: opacity, visibility, max-height;
  transition: opacity var(--duration-default), visibility var(--duration-default), max-height var(--duration-default);
}

.product__purchase-options-body.is-hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.product__purchase-options-body:not(.is-hidden) {
  position: relative;
  z-index: 2;
  padding-block-start: 2.4rem;
}

.product-selector__submit {
  width: 100%;
  flex: 50%;
}

.product__purchase-options-foot {
  margin-block-start: 2.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.product__purchase-options-description {
  width: 100%;
}

.product__purchase-options-description-title {
  max-width: 70%;
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
}

.product__purchase-options .dropdown__label {
  font-size: var(--font-size-static-small);
  color: rgb(var(--color-heading-text));
  margin: 0 0 1.2rem;
}

.product__subscription-description {
  width: 100%;
  flex: 1;
}

.product__subscription-policy summary span {
  color: rgb(var(--color-heading-text));
}

.product__subscription-description p {
  font-size: var(--font-size-static-small);
  margin-block: 0;
}

/* Inventory Notice */
.product__inventory-notice {
  gap: 0.6rem;
}

.product__inventory-notice svg {
  width: 2rem;
}

/* Pickup availability */
.product__pickup-availabilities {
  display: block;
}

.pickup-availability-preview {
  display: grid;
  grid-template-areas: "title drawer-button" "meta drawer-button";
  align-items: center;
  gap: 0 1rem;
}

.pickup-availability__info-title,
.pickup-availability__info-meta {
  font-size: var(--font-size-static-small);
  margin-block: 0;
}

.pickup-availability__info-title {
  grid-area: title;
  color: rgb(var(--color-heading-text));
}

.pickup-availability__info-meta {
  grid-area: meta;
}

.pickup-availability__drawer {
  grid-area: drawer-button;
}

html.js .pickup-availability__drawer .drawer__content {
  max-height: 100svh;
}

.pickup-availability__drawer .drawer__row {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.pickup-availability__drawer .drawer__row::-webkit-scrollbar {
  width: 0.8rem;
}

.pickup-availability__drawer .drawer__row::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8em;
}

.pickup-availability__drawer .drawer__row::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8rem;
}

.pickup-availability__drawer .drawer__row::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.pickup-availability__drawer details {
  display: flex;
}

.pickup-availability__drawer summary {
  display: flex;
  justify-content: flex-end;
}

.pickup-availability__drawer .button {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline-start: auto;
  font-size: 1rem;
}

.pickup-availability__drawer .drawer__title {
  margin-block-end: 3.2rem;
}

.pickup-availability__drawer .drawer__button-text {
  padding-block-start: 0;
  color: rgb(var(--color-heading-text));
}

.pickup-availability-store {
  padding: 3rem 1.6rem 3.3rem;
  border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
  border-width: 0.1rem 0;
}

.pickup-availability-store+.pickup-availability-store {
  border-block-start: 0;
}

.pickup-availability-store .pickup-availability-store__title {
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-large);
  margin-block: 0 1.2rem;
}

.pickup-availability-store .pickup-availability-store__preview {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: rgb(var(--color-heading-text));
  font-size: var(--font-size-static-small);
  margin-block-end: 1.6rem;
}

.pickup-availability-store .pickup-availability-address,
.pickup-availability-store .pickup-availability-address p {
  font-style: normal;
  font-size: var(--font-size-static-small);
}

@media screen and (min-width: 750px) {
  .product__pickup-availabilities summary {
    text-align: end;
  }
}

/* ProductComplementaries */
.product__complementaries>.product-recommendations {
  margin-block-start: 0;
}

@media screen and (max-width: 749px) {
  .product__complementaries {
    width: calc(100vw - 2 * var(--page-gutter));
    overflow: hidden;
  }
}

/* Product tabs */
.product__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 0.8rem;
  border-block-end: 1px solid rgba(var(--color-border), var(--alpha-border));
}

.product__tabs button {
  margin: 0 1.2rem;
  padding: 0 0 1.2rem;
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  margin: 0 0.8rem;
  font-family: var(--font-body-family);
  font-size: var(--font-size-static-small);
  color: currentColor;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: capitalize;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__tabs button svg {
  width: 2rem;
  height: 2rem;
}

.product__tabs button span {
  white-space: nowrap;
}

.product__tabs button:hover {
  border-block-end: 0.1rem solid rgba(var(--color-black-rgb), 1);
}

.product__tabs button.active {
  border-block-end: 0.1rem solid rgba(var(--color-black-rgb), 1);
}

.product__tab-content {
  display: none;
  text-align: center;
  font-size: var(--font-size-extra-small);
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* product - content grid */
.product__content-grid {
  display: grid;
  gap: 0.8rem;
}

.swiper__content-grid {
  display: block;
  width: calc(100vw - (2 * var(--page-gutter)));
  overflow: hidden;
}

.product__content-grid .product__content-grid-item,
.swiper__content-grid .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
  border: 1px solid rgba(var(--color-border), var(--alpha-border));
  border-radius: 1.4rem;
}

.product__content-grid .product__content-grid-item div,
.swiper__content-grid .swiper-slide div {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__content-grid .product__content-grid-item div svg,
.swiper__content-grid .swiper-slide div svg {
  width: 2rem;
  height: 2rem;
}

.product__content-grid .product__content-grid-item span,
.swiper__content-grid .swiper-slide span {
  color: rgb(var(--color-primary-text));
  font-size: 1rem;
  font-weight: 500;
  line-height: 115%;
  /* 11.5px */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .product__content-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product__content-grid.product__content-grid--single {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Poduct Media */
.product__media {
  display: block;
  position: relative;
}

.product .gift-card__media img {
  height: auto;
}

.product__media .media {
  border-radius: var(--card-corner-radius);
  overflow: hidden;
}

.swiper-wrapper__center {
  justify-content: center;
  margin: 0 auto;
}

.product__media .swiper {
  overflow: visible;
  margin-inline-start: 0;
}

/* Poduct Media - Pagination */
@media screen and (max-width: 749px) {

  .product__media .swiper-horizontal>.swiper-pagination-bullets,
  .product__media .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content;
    position: absolute;
    inset-block-end: -4.8rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    background-color: rgb(var(--color-background));
    padding: 0.8rem 1.6rem;
    border: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
    border-radius: var(--button-border-radius);
    z-index: 10;
  }

  [dir='rtl'] .product__media .swiper-horizontal>.swiper-pagination-bullets,
  [dir='rtl'] .product__media .swiper-pagination-bullets.swiper-pagination-horizontal {
    transform: translateX(50%);
  }

  [data-pagination="over"] .swiper-horizontal>.swiper-pagination-bullets,
  [data-pagination="over"] .swiper-pagination-bullets.swiper-pagination-horizontal {
    inset-block-end: .8rem;
  }

  [data-pagination="over"].product__media-layout--partial--sm .swiper:not(.swiper-thumbs.swiper-horizontal),
  [data-pagination="over"].product__media-layout--full--sm .swiper:not(.swiper-thumbs.swiper-horizontal),
  [data-pagination="over"][data-with-thumbs="true"].product__media-layout--partial--sm .swiper:not(.swiper-thumbs.swiper-horizontal),
  [data-pagination="over"][data-with-thumbs="true"].product__media-layout--full--sm .swiper:not(.swiper-thumbs.swiper-horizontal) {
    margin-block-end: initial;
  }

  [data-pagination="under"].product__media-layout--partial--sm .swiper:not(.swiper-thumbs.swiper-horizontal),
  [data-pagination="under"].product__media-layout--full--sm .swiper:not(.swiper-thumbs.swiper-horizontal) {
    margin-block-end: 4.8rem;
  }

  [data-pagination="under"][data-with-thumbs="true"].product__media-layout--partial--sm .swiper:not(.swiper-thumbs.swiper-horizontal),
  [data-pagination="under"][data-with-thumbs="true"].product__media-layout--full--sm .swiper:not(.swiper-thumbs.swiper-horizontal) {
    margin-block-end: 5.6rem;
  }

  .swiper-pagination-bullet-active {
    background-color: rgb(var(--color-foreground));
  }
}

.product__media .media.media--thumb {
  border-radius: 0;
}

.product__media-layout--full .swiper {
  width: 100%;
  height: 100%;
}

/* .product--single-media .product__media .swiper {
  width: 100%;
} */

.product__media-layout--full {
  height: auto;
}

.product__media .swiper-buttons path {
  stroke: rgb(var(--color-foreground));
}

.product__media .media__badge {
  position: absolute;
  z-index: 2;
}

.product__media .swiper-button {
  width: 4.0rem;
  height: 4.0rem;
  padding: 1.2rem;
  background-color: rgb(var(--color-background));
  border-radius: 1.2rem;
}

@media screen and (max-width: 749px) {

  .max-w-full .product__media-layout--partial--sm .swiper-buttons,
  .max-w-fluid .product__media-layout--partial--sm .swiper-buttons {
    padding-inline-start: 2.8rem;
    width: 90%;
  }
}

/* @media screen and (min-width: 750px) {
  .product__media-layout--full {
    height: var(--product-media-area-height);
  }
} */

@media screen and (min-width: 990px) {
  .product__media .swiper {
    width: 60%;
  }

  .product__media-layout--full .swiper {
    width: 100%;
  }

  /* .product--single-media .product__media .swiper {
    max-width: 83%;
    margin-inline: auto;
  } */

  .product__media[data-with-thumbs="true"] .swiper-buttons {
    padding-inline: 3.2rem;
  }

  .product__media .swiper-button {
    width: 4.4rem;
    height: 4.4rem;
  }

  .product .container .product-gallery__close {
    position: absolute;
    inset-block-end: 2.4rem;
    inset-inline-start: auto;
    inset-inline-end: 2.4rem;
    z-index: 2;
  }

  .product .product__media-grid .media .product__modal-triggers {
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    transition: opacity var(--duration-default);
    z-index: 0;
  }

  .product .product__media-grid .media:hover .product__modal-triggers {
    pointer-events: all;
    opacity: 1;
    z-index: 2;
  }

}

.product__media-layout--full .swiper {
  width: 100%;
}

.product__gallery-opener {
  position: relative;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--duration-default);
  background-color: rgb(var(--color-background));
  border-radius: var(--card-corner-radius);
}

/* LightBox */
.pswp--product-media-gallery {
  background-color: rgb(var(--color-background));
}

.pswp--product-media-gallery:not(.pswp--zoomed-in) {
  -webkit-user-drag: none;
}

.pswp--product-media-gallery .pswp__button {
  width: auto;
}

.pswp--product-media-gallery .pswp__button svg {
  width: 2.4rem;
  height: 2.4rem;
}

.pswp--product-media-gallery .pswp__button--close {
  margin-block-start: 1.2rem;
  margin-inline-end: 1.2rem;
  width: 3.6rem !important;
  height: 3.6rem !important;
}

.pswp--product-media-gallery .pswp__button--arrow--prev {
  inset-inline-start: var(--section-spacing-unit-size);
}

.pswp--product-media-gallery .pswp__button--arrow--next {
  inset-inline-end: var(--section-spacing-unit-size);
}

@media screen and (min-width: 750px) {
  .pswp--product-media-gallery .pswp__button svg {
    width: 4.8rem;
    height: 4.8rem;
  }

  .pswp--product-media-gallery .pswp__button--arrow--prev {
    inset-inline-start: var(--page-gutter);
  }

  .pswp--product-media-gallery .pswp__button--arrow--next {
    inset-inline-end: var(--page-gutter);
  }
}

.pswp--product-media-gallery .pswp__top-bar .pswp__button--close,
.product__gallery-toggle,
.product-gallery__close {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-heading-text));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  border: none;
  border-radius: 0;
  z-index: 2;
  cursor: pointer;
  will-change: background-color;
  transition: background-color var(--duration-default), color var(--duration-default);
}

.product__gallery-toggle {
  width: 4rem;
  height: 4rem;
  border-radius: var(--card-corner-radius);
}

@media screen and (min-width: 750px) {
  .pswp--product-media-gallery .pswp__top-bar {
    width: auto;
    height: 6rem;
  }

  .pswp--product-media-gallery .pswp__top-bar .pswp__button--close,
  .product__gallery-toggle,
  .product-gallery__close {
    width: 6rem;
    height: 6rem;
  }

  .product__gallery-toggle {
    width: 4rem;
    height: 4rem;
  }
}

.pswp--product-media-gallery .pswp__item {
  background-color: rgb(var(--color-background));
}

/* @media screen and (min-width: 1400px) {
  .product--single-media .product__media .swiper {
    max-width: 100%;
  }
} */

@media (hover: hover) and (pointer: fine) {

  .pswp--product-media-gallery .pswp__top-bar .pswp__button--close:hover,
  .product__gallery-toggle:hover,
  .product-gallery__close:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }

  .product__gallery-toggle:hover svg * {
    stroke: rgb(var(--color-background));
  }

}

@media (prefers-reduced-motion) {
  .pswp--product-media-gallery .pswp__top-bar .pswp__button--close {
    transition: none;
  }
}

.product__gallery-wrapper .media video {
  -o-object-fit: contain;
  object-fit: contain;
}

/* .product__gallery-opener ~ .product__gallery-opener:not(.product__gallery-opener--video) { */
.product__gallery-opener~.product__gallery-opener {
  position: absolute;
  inset-block-end: 0;
}

.product__gallery-opener.is-active {
  pointer-events: all;
  opacity: 1;
  z-index: 2;
}

product-modal {
  display: block;
}

.pswp--product-media-gallery {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: var(--product-media-area-width, 100%);
  height: var(--product-media-area-swiper-height, 100%);
  overflow: hidden;
  z-index: var(--z-modals);
}

.pswp--product-media-gallery .pswp {
  position: relative;
}

.pswp .pswp__top-bar {
  width: 100%;
}

.pswp .pswp__top-bar .pswp__button--zoom {
  display: none;
}

.pswp .pswp__content>*:not(iframe, model-viewer, video) {
  width: 100%;
  height: auto;
}

.pswp .pswp__content>iframe,
.pswp .pswp__content>model-viewer,
.pswp .pswp__content>video {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 750px) {
  .pswp .pswp__content>*:not(iframe, video) {
    width: auto;
    height: 100%;
  }
}

.pswp .pswp__counter {
  text-shadow: none;
  color: rgb(var(--color-foreground));
}

.pswp--touch .pswp__button--arrow {
  visibility: visible !important;
}

.product-gallery {
  background-color: rgb(var(--color-background));
  display: none;
  width: 100%;
  height: var(--product-media-area-swiper-height, 100%);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: calc(var(--z-modals) - 1);
}

.product-gallery[open] {
  display: block;
}

.product-gallery__dialog,
.product__gallery-content,
.product__modal-slider {
  height: 100%;
}

.product__gallery-content {
  background-color: rgb(var(--color-background));
}

.product__gallery-wrapper,
.product__gallery-content .product__gallery-wrapper .media {
  width: 100%;
  height: 100%;
}

.product__gallery-content .swiper-arrows {
  z-index: 2;
}

.product-gallery__close {
  position: absolute;
  inset-block-end: 1.6rem;
  inset-inline-end: 1.6rem;
  z-index: 2;
  border: 0;
}

@media screen and (min-width: 750px) {
  .product-gallery__close {
    inset-block-end: 2.4rem;
    inset-inline-start: var(--page-gutter);
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  }
}

/* swiper-thumbs */
.product__media .swiper-thumbs {
  opacity: 0;
}

.product__media .swiper-thumbs.swiper-initialized {
  opacity: 1;
}

.product__media .swiper-thumbs.swiper-horizontal,
.product__media .swiper-thumbs.swiper-vertical {
  overflow: hidden;
}

.product__media .swiper-thumbs.swiper-horizontal .swiper-slide.swiper-slide-thumb-active,
.product__media .swiper-thumbs.swiper-vertical .swiper-slide.swiper-slide-thumb-active {
  border: .15rem solid rgba(var(--color-foreground));
}

.product__media .swiper-thumbs.swiper-horizontal {
  max-width: 100%;
}

.product__media .swiper-thumbs.swiper-horizontal .swiper-slide {
  /* height: auto; */
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.product__media .swiper-thumbs.swiper-vertical .swiper-slide {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 750px) {
  .product__media .swiper-thumbs {
    width: 11.8rem;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: var(--page-gutter);
    -moz-column-gap: 0.1rem;
    column-gap: 0.1rem;
  }

  .product__media .swiper-thumbs.swiper-vertical {
    max-width: 11.5rem;
  }

  .product__media.product__media-layout--partial .swiper-thumbs.swiper-vertical {
    max-height: 715px;
  }


  .product__media .swiper-thumbs .swiper-slide {
    cursor: pointer;
    height: auto;
  }

  .product__media .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
    border: .15rem solid rgba(0, 0, 0);
  }

  .product__media .swiper-thumbs .swiper-slide .media img {
    height: 100%;
  }

  .product__media .swiper-thumbs .swiper-slide .media .media__badge {
    position: absolute;
    inset-block-start: 0.4rem;
    inset-inline-end: 0.4rem;
    margin-inline-start: auto;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    background-color: var(--color-white);
    z-index: 2;
  }

  .product__media .swiper-thumbs .swiper-slide .media .media__badge svg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    fill: rgba(var(--color-heading-text));
  }

  .product .container .swiper-thumbs {
    inset-inline-start: 0;
  }

  .product .container .swiper-thumbs.swiper-vertical {
    width: 11.5rem;
    height: auto;
    max-height: var(--product-media-area-height, 100vh);
    overflow: hidden;
    background-color: rgb(var(--color-background));
    opacity: 1;
    transition: opacity var(--duration-default);
  }

  .product .container .swiper-thumbs.swiper-vertical .swiper-slide {
    width: 11.5rem;
  }

  .product .swiper-thumbs.swiper-vertical,
  .product .swiper-thumbs.swiper-horizontal {
    position: absolute;
    overflow: hidden;
    z-index: 1;
  }

  .product .swiper-thumbs.swiper-vertical {
    width: 11.5rem;
    height: 100%;
  }

  .product .swiper-thumbs.swiper-horizontal {
    width: 100%;
    height: auto;
    inset-block-start: auto;
    inset-block-end: 1.6rem;
    inset-inline-start: calc(var(--page-gutter) + 11.5rem + 1rem);
    cursor: pointer;
  }
}

.product__media-layout--full--sm .swiper-slide .media {
  border-radius: 0 !important;
}

@media screen and (min-width: 750px) {

  .container .product__media-layout--partial .product__media-action-buttons,
  .container .product__media-layout--full .product__media-action-buttons {
    width: calc(100% - 4.8rem);
    display: flex;
    position: absolute;
    inset-block-end: 2.4rem;
    inset-block-start: calc(var(--product-media-area-swiper-height) - 4.8rem);
    inset-inline: 2.4rem;
    z-index: 1;
    justify-content: space-between;
    align-items: end;
  }
}

/* .container .product__media-layout--full .product__media-action-buttons {
  inset-block-start: calc(var(--product-media-area-height) - 5.6rem);
} */

.product__modal-triggers {
  position: relative;
}

.product__media--swiper-wrapper {
  position: relative;
}

@media screen and (max-width: 749px) {

  .container .product__media-layout--full--sm .swiper {
    width: 100%;
  }

  .container .product__media-layout--partial--sm .swiper {
    width: 90%;
    padding: 0.8rem 0 0 1.6rem;
  }

  .container .product__media-layout--partial--sm .product__media-action-buttons,
  .container .product__media-layout--full--sm .product__media-action-buttons {
    /* width: calc(90% - (var(--page-gutter) * 2)); */
    width: calc(100% - 1.6rem);
    display: flex;
    position: absolute;
    inset-inline-start: 1.6rem;
    inset-block-end: 0;
    padding: .8rem;
    z-index: 1;
    justify-content: space-between;
    align-items: end;
  }

  .container .product__media-layout--full--sm .product__media-action-buttons {
    width: 100%;
    inset-inline-start: 0;
  }

  .max-w-fluid .product__media-layout--full--sm .swiper,
  .max-w-full .product__media-layout--full--sm .swiper {
    width: 100%;
  }

  .max-w-fluid .product__media-layout--partial--sm .swiper,
  .max-w-full .product__media-layout--partial--sm .swiper {
    width: 90%;
    padding: 0.8rem 0 0 1.6rem;
  }

  .container .product__media-layout--full--sm .swiper-thumbs.swiper-horizontal,
  .max-w-fluid .product__media-layout--full--sm .swiper-thumbs.swiper-horizontal,
  .max-w-full .product__media-layout--full--sm .swiper-thumbs.swiper-horizontal {
    margin: 0.8rem;
  }

  .container .product__media-layout--partial--sm .swiper-thumbs.swiper-horizontal,
  .max-w-fluid .product__media-layout--partial--sm .swiper-thumbs.swiper-horizontal,
  .max-w-full .product__media-layout--partial--sm .swiper-thumbs.swiper-horizontal {
    margin: 0.8rem 1.6rem;
  }
}

@media screen and (min-width: 750px) {
  .container .product__media-layout--full .swiper {
    width: 100%;
  }

  .container .product__media-layout--partial .swiper {
    width: 70%;
  }

  .max-w-fluid .product__media-layout--full .swiper,
  .max-w-full .product__media-layout--full .swiper {
    width: 100%;
  }

  .max-w-fluid .product__media-layout--partial .swiper,
  .max-w-full .product__media-layout--partial .swiper {
    width: 70%;
  }

  .container .product__media--with-thumbs .product__media--swiper-wrapper {
    overflow: hidden;
    width: calc(100% - 13.1rem);
    margin-inline-start: 13.1rem;
    position: relative;
  }

  .max-w-fluid .product__media--with-thumbs .product__media--swiper-wrapper,
  .max-w-full .product__media--with-thumbs .product__media--swiper-wrapper {
    overflow: hidden;
  }

  .max-w-fluid .product__media-layout--full .media:not(.media--thumb) img,
  .max-w-full .product__media-layout--full .media:not(.media--thumb) img {
    width: var(--product-media-area-width, 80rem);
    height: var(--product-media-area-height, 100vh);
    margin-inline: auto;
  }


  .max-w-fluid .product__media-layout--full .media.media--landscape:not(.media--thumb) img,
  .max-w-full .product__media-layout--full .media.media--landscape:not(.media--thumb) img {
    height: 100%;
  }
}

@media screen and (max-height: 700px) {
  .product__media-layout--full {
    min-height: calc(var(--product-media-area-width) - 13.1rem);
  }

  .max-w-fluid .product__media-layout--full .media:not(.media--thumb) img,
  .max-w-full .product__media-layout--full .media:not(.media--thumb) img {
    min-height: calc(var(--product-media-area-width) - 13.1rem);
  }
}

@media screen and (min-width: 1920px) {

  .max-w-fluid .product__media-layout--partial .swiper,
  .max-w-full .product__media-layout--partial .swiper {
    width: 40%;
  }
}

@media screen and (min-width: 2560px) {

  .max-w-fluid .product__media-layout--full .media:not(.media--thumb) img,
  .max-w-full .product__media-layout--full .media:not(.media--thumb) img {
    margin-inline: calc((100% - var(--product-media-area-width, 80rem)) / 2);
  }
}

/* template--giftcard */
.template--giftcard .swiper-thumbs,
.template--giftcard .product__modal-triggers {
  display: none;
}

/* Product Media - Grid Layout */
.product__media-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.8rem;
}

.product__media-grid .media-grid__item {
  overflow: hidden;
  border-radius: var(--card-corner-radius);
}

.product__media-grid .media-grid__item>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__media-grid .media-grid__item:not(:first-child) {
  display: none;
}

@media screen and (min-width: 750px) {
  .product__media-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.8rem;
  }

  .product__media-grid .media-grid__item>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .product__media-grid .media-grid__item:not(:first-child) {
    display: block;
  }
}

/* Product Media - Counter & Index */
.product__media--counter {
  --thumbs-width: 13.1rem;
  position: absolute;
  z-index: 1;
  inset-block-start: 1.6rem;
  inset-inline-end: 1.6rem;
}

.product__media--counter.product__media--with-thumbs {
  inset-inline-start: calc(var(--thumbs-width) + 2.4rem);
}

.product__media--counter span {
  color: rgba(var(--color-primary-text), 0.5);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 130%;
  /* 15.6px */
  letter-spacing: 0.2rem;
}

.product__media--counter .product__media--counter-index {
  color: rgb(var(--color-primary-text));
}

@media screen and (max-width: 749px) {
  .product__media--counter {
    inset-inline-start: initial !important;
    inset-inline-end: 1.6rem;
  }

  .container .product__media-layout--partial--sm .product__media--counter,
  .max-w-fluid .product__media-layout--partial--sm .product__media--counter {
    inset-inline-end: 5rem;
  }
}

@media screen and (min-width: 750px) {

  .max-w-fluid .product__media-layout--full .product__media--counter.product__media--with-thumbs,
  .max-w-fluid .product__media-layout--partial .product__media--counter.product__media--with-thumbs {
    --thumbs-width: 13.1rem;
  }
}

/* media gallery info - metafield */
.product__media--info {
  width: fit-content;
  background-color: rgb(var(--color-background));
  padding: 0.8rem 1.6rem;
  margin-inline-end: 1.6rem;
}

.product__media--info span {
  color: rgb(var(--color-primary-text));
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  /* 13px */
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .product__media {
    width: 100%;
    /* height: 100%; */
  }

  .container .product__media:not(.product__media-layout--full) {
    height: 100%;
  }
}

.product__media .media:not(.media--thumb) img {
  mix-blend-mode: multiply;
}

.product__media .media.media--thumb img {
  background-color: var(--color-white);
}

/* Product accordion collapsible */
.product__accordion {
  padding-block: 1.2rem;
  border-block-end: 1px solid rgba(var(--color-border), var(--alpha-border));
  min-height: 5rem;
}

.product__accordion .accordion__button span svg {
  width: 2rem;
  height: 2rem;
}

.product__accordion .accordion__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1.2rem;
}

.product__accordion .accordion__icon>svg {
  position: absolute;
}

.product__accordion .accordion__icon>svg:last-child {
  transform: rotate(90deg);
}

.product__accordion .accordion__section.is-active .accordion__icon>svg:last-child {
  transform: rotate(180deg);
}

.product__accordion .accordion__body p {
  color: rgb(var(--color-foreground));
}

/* media gallery - bottom navigation */
.product__media .swiper-bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  width: fit-content;

  position: absolute;
  inset-block-end: 1.6rem;
  inset-inline-start: 50%;
  transform: translatex(-50%);
  z-index: 1;

  background-color: rgb(var(--color-background));
  border: 0.2rem solid rgba(var(--color-border), var(--alpha-border));
  padding: .8rem 1.2rem;
  border-radius: 10rem;
}

[dir='rtl'] .product__media .swiper-bottom-nav {
  transform: translateX(50%);
}

.product__media .swiper-bottom-nav .swiper-button {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.product__media .swiper-bottom-nav .swiper-button:disabled,
.product__media .swiper-bottom-nav .swiper-button-disabled {
  opacity: .2;
}

.product__media .swiper-bottom-nav svg {
  width: .4rem;
  height: .8rem;
}

.product__media .swiper-bottom-nav .swiper-pagination {
  position: relative;
  inset-block: initial;
  inset-inline-start: initial;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: fit-content;
}

.product__media .swiper-bottom-nav .swiper-pagination-bullet {
  width: .4rem;
  height: .4rem;
  display: block;
  margin: 0;
  background-color: rgb(var(--color-foreground));
  ;
}

.product__media .swiper-bottom-nav .product__media--counter {
  position: relative;
  inset-block-start: initial;
  inset-inline: initial;
}

.product__media .swiper-bottom-nav .product__media--counter span {
  font-size: var(--font-size-static-small);
  font-weight: 500;
  color: rgb(var(--color-foreground));
}

.product__media .swiper-bottom-nav .product__media--counter span:nth-child(2) {
  display: inline-block;
  transform: rotate(15deg);
}


.product__media .media.media--portrait {
  aspect-ratio: initial;
}

/* Product - Sticky Add-To-Cart Bar */
.product__sticky-cart.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  inset-block-end: -100%;
}

.product__sticky-cart {
  position: fixed;
  inset-block-start: initial;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: 3;
  width: 100%;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-block-start: .1rem solid rgba(var(--color-border), var(--alpha-border));
  padding-inline: var(--page-gutter);
  padding-block: var(--page-gutter);

  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: all 450ms cubic-bezier(0.68, 0, 0.35, 1);
}

@media screen and (max-width: 749px) {
  .product__sticky-cart .button span {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }

  .product__sticky-cart .button {
    padding: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  .product__sticky-cart.is-hidden {
    inset-block-start: -100%;
  }

  .product__sticky-cart {
    inset-block-start: calc(var(--header-height) - 2px);
    inset-block-end: initial;
    border-block-start: none;
    border-block-end: .1rem solid rgba(var(--color-border), var(--alpha-border));
    padding-block: calc(var(--page-gutter) / 2);
  }

  .product__sticky-cart .button svg {
    display: none;
  }
}

.product__sticky-cart .button svg path {
  stroke: rgb(var(--color-background));
}

.product__sticky-cart .product__sticky-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.product__sticky-cart .product__sticky-cart--info {
  display: flex;
  align-items: stretch;
  gap: 1.6rem;
}

.product__sticky-cart .media {
  width: 4.4rem;
  height: 4.4rem;
  border: .2rem solid rgba(var(--color-border), var(--alpha-border));
  border-radius: var(--card-corner-radius);
}

.product__sticky-cart .media img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.product__sticky-cart .product__title {
  font-size: var(--font-size-static-medium);
  font-weight: 700;
  line-height: 1.33rem;
}

.product__sticky-cart .product__sticky-cart--info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__sticky-cart .product__sticky-cart--info-text div {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-static-medium);
  line-height: 1.96rem;
  letter-spacing: 0.042rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.product__sticky-cart .product__sticky-cart--opt-label {
  color: rgba(var(--color-primary-text), 0.7);
}

.product__sticky-cart--separator {
  display: block;
  width: 4px;
  height: 4px;
  background-color: rgb(var(--color-border));
}
